.form_container
{
	h1
	{
		font-size: 1.7em;
	}
}

.widget
{
	margin: 10px 0;
}

.form_sub
{
	border: solid @color_maniakk 2px;
	margin: 10px;
	padding: 10px;
	
	[data-prototype] > .form_row > *
	{
		display: inline-block;
	}
}

.form_errors li
{
	margin: 10px;
	padding: 10px;
	background-color: #DE1300;
}

label
{
	padding-right: 10px;
}

input, button, .button, select
{
	display: inline-block;
	border: none;
	background-color: @color_maniakk;
	color: @color_header_font;
	font-size: .8em;
}

input, select
{
	margin: 5px 0;
	padding: 5px 10px;
	vertical-align: middle;
}

input[type="submit"], button, .button
{
	cursor: pointer;
	padding: 5px 10px;
	margin: 5px 10px;
}

.option
{
	label[for="remember_me"]
	{
		font-size: .8em;
	}
}
