section.form_container
{
	margin: 35px 0;
	
	h1
	{
		font-size: 1.7em;
	}
	
	form
	{
		.widget
		{
			margin: 10px 0;
			
			input
			{
				&[type="text"],
				&[type="email"],
				&[type="password"]
				{
					background-color: @color_maniakk;
					border: none;
					margin: 5px 0;
					padding: 5px 10px;
					font-size: .8em;
					color: @color_header_font;
					
					&:focus
					{
						border: none;
					}
				}
			}
		}
		
		.option
		{
			label[for="remember_me"]
			{
				font-size: .8em;
			}
		}
		
		input[type="submit"]
		{
			border: none;
			background-color: @color_maniakk;
			color: @color_header_font;
			cursor: pointer;
			padding: 5px 10px;
			margin-top: 5px;
			font-size: .8em;
		}
	}
}
