@import "layout.less";

#content, #part
{
	padding: 0 15px;
	display: inline-block;
	vertical-align: top;
}

#content
{
	width: 530px;
	
	article
	{
		background-color: @color_article;
		padding: 10px;
		margin-top: 15px;
		
		h1
		{
			font-size: 2em;
			margin-bottom: 10px;
		}
	}
	
	#article_bestof
	{
		> p
		{
			text-align: right;
		}
		
		div
		{
			margin: 10px 5px;
			
			h2
			{
				font-size: 1.5em;
				color: @color_maniakk;
			}
			
			ul
			{
				list-style-type: none;
				
				li
				{
					border-left: solid @color_maniakk 3px;
					margin-left: 5px;
					padding-left: 10px;
					
					a
					{
						font-size: .7em;
						color: black;
						text-decoration: none;
					}
				}
			}
		}
	}
}

#part
{
	width: 210px;
	background-color: @color_article;
	text-align: center;
	
	> section
	{
		margin: 35px 0;
		width: 210px;
	}
}
