@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins/grid.less";
/* END BOOTSTRAP */

@import "palette.less";
@import "mixins.less";

*, .container-fluid
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}
