@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";
@import "../bootstrap/less/grid.less";
/* END BOOTSTRAP */

@import "palette.less";
@import "mixins.less";

*
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}

@media_lg_min: 1501px;
@media_md_max: @media_lg_min - 1;
