{% trans_default_domain 'ZzPyroBundle_bestof' %}

<div class="form_container form_confirm">
	<p>
		{{ 'extract.confirm' |trans }}
	</p>
	<button type="button" id="resubmit" path="{{ path }}">
		{{ 'extract.resubmit' |trans }}
	</button>
</div>
