{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	<section id="user_login_container"
			 class="form_container"
			 path="{{ path('fos_user_security_login') }}">
	</section>
	<section id="user_register_container"
			 class="form_container"
			 path="{{ path('fos_user_registration_register') }}">
	</section>
{% else %}
	{{ render(controller('ZzPyroBundle:Extract:add')) }}
{% endif %}
